
.general {
	text-align: left;
	padding-top: 2%;
}

.itemCard {
	width: 200px;
	height: auto;
	margin-right: 20px;
}

.description {
	min-height: 200px;
	background-color: #eaeaea;
	font-size: 18pt;
}
	
	.description p {
		margin-top: 15px;
		font-size: 18px;
	}
	
	.about {
		text-align: left;
		margin-left: 20px;
	}

		.about li {
			list-style-type: none;
			padding-left: 27px;
		}

		.about li:nth-child(1) {
			background: url(../img/sprite/toSprite1.jpg) no-repeat;
		}

		.about li:nth-child(2) {
			background: url(../img/sprite/toSprite2.jpg) no-repeat;
		}

		.about li:nth-child(3) {
			background: url(../img/sprite/toSprite3.jpg) no-repeat;
		}

		.about li:nth-child(4) {
			background: url(../img/sprite/toSprite4.jpg) no-repeat;
		}

		.about li:nth-child(5) {
			background: url(../img/sprite/toSprite5.jpg) no-repeat;
		}

.price {
	margin-left: 5%;
	border: solid 1px black;
	font-size: 1.1em;
	border-collapse: collapse;
}

	.price td {
		padding: 5px;
		border: dotted 1px black;
	}

p {
	padding: 10px;
	font-size: 1.2em;
}	

	p span {
		color: red;
		font-size: 1.25em;
		font-family: "Comic Sans MS";
	}

#stub {
	text-align: center;
	font-size: 24px;
}